.cardDetails {
  background: white;
  background-clip: content-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;

  h5 {
    color: black;
    padding-top: 10px;
    font-weight: bold;
  }
  a {
    background-color: $purple;
    color: $white;
    padding: 5px 10px;
    bottom: 10px;
    margin-top: 5px;
    display: inline-block;
  }

  //  img{
  //     -webkit-border-radius: 5px;
  //     -moz-border-radius: 5px;
  //     border-radius: 5px;
  //  }
}

.fontTransition {
  text-transform: capitalize;
}
h3 {
  margin-bottom: 5px;
}
.spacer {
  min-width: 10px;
  min-height: 10px;
  display: inline-block;
  margin-right: 5px;
  float: left;
}
.titleBorder {
  border-bottom: 1px solid $white;
}
.engagementCard {
  a {
    background-color: $purple;
    color: $white !important;
    padding: 5px 10px;
    bottom: 10px;
    margin-top: 5px;
    display: inline-block;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    &:hover {
      color: $pink !important;
    }
  }
  margin-bottom: 10px;
}
.fontTransition {
  font-weight: bold;
}
.richText {
  p {
    width: 100%;
  }
}
.col-md-8 a p {
  color: $blue !important;
  text-decoration: underline;
}
.test {
  min-width: 100%;
  margin-top: 10px;
}
